body {
    background-color: #f4f5f7;
    width: 100%;
    margin: 0;
}

.nav-container {
    margin-top: 0px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 50px;
    background-color: #c4c4c4;
    box-sizing: border-box;
}

.nav-sect {
    /* font */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.07px;
}

.middle {
    text-align: center;
    text-decoration-line: underline;
}

.right {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.register {
    line-height: 50px;
    flex: 1;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    gap: 5px;
}

#heart {
    width: 12px;
    height: 12px;
}

.shop {
    flex: 1;
    line-height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

#cart {
    width: 12px;
    height: 12px;
}

/* Heading */

.heading {
    text-align: center;
    font-family: 'Modern No. 20', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 51px;
}

/* Menu */

.menu-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.menu {
    display: flex;
    justify-content: center;
    font-family: 'Modern No. 20', sans-serif;
    font-weight: 400px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.menu-item {
    flex: 1;
}

.menu-item a {
    text-decoration: none;
    color: black;
}

#wahmen {
    width: 90%;
    height: auto;
    display: block;
    margin: 10px auto 10px auto;
}

/* text-container */

.text-container {
    width: 30%;
    margin: 20px auto 10px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text-item {
    flex: 1;
}

.text-top {
    font-family: 'Modern No. 20', sans-serif;
    font-size: 36px;
    line-height: 42px;
    font-weight: 100;
}

.text-mid {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.link-bot {
    width: 224px;
    height: 57px;
    border: 1px solid;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
}

#link-bot {
    text-decoration: none;
    color: black;
}

/* New Arrivals */

/* .new-arrivals {
    width: 90%;
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: column;
} */

.na-grid {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.new-arrivals-heading {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
}

.fill-div {
    text-decoration: none;
}

.new-arrivals-pics {
    flex: content;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    right: 50%;
    transform: translateX(50%);
    justify-content: center;
}

.pics-item {
    flex: 1;
    width: 365px;
}

.new-arrivals-img {
    width: 365px;
}

.colors {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #848484;
    margin-left: 10px;
}

.item-desc {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: black;
    margin-left: 10px;
}

/* Section */

.sect-grid {
    width: 1200px;
    height: 657px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 350px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
}

.sect-text {
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.sect-top {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.sect-mid {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    width: 240px;
    height: 32px;
}

.sect-bot {
    width: 224px;
    height: 28px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}

.sect-bot a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    color: black;
}

.sect-pic {
    position: relative;
    overflow: hidden;
}

#sect-pic {
    transform: scaleX(-1);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* For Her */

.for-her {
    margin-top: 156px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    position: relative;
    overflow: hidden;
}

.for-her-img {
    position: relative;
}

.for-her-img img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.brand-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.35em;
    text-align: center;
    position: absolute;
    bottom: 67px;
    right: 41px;
    z-index: 2;
    color: white;

}

.link-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 224px;
    height: 57px;
    border: 1px solid;
    text-align: center;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 41px;
    z-index: 1;
    background-color: white;
}

.link-text a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.62px;
    text-align: center;
    text-decoration: none;
    color: black;
}

/* footer */

footer {
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.links {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

li {
    list-style-type: none;
}

.head-footer a {
    font-size: 18px;
    font-weight: 700;
    line-height: 24.51px;
    text-align: left;
    color: black;
    text-decoration: none;
}

li a {
    color: black;
    text-decoration: none;
}

.locator img {
    width: 11.25px;
    height: 13.13px;
    top: 0.63px;
    left: 1.88px;
    gap: 0px;
    opacity: 0px;
}

.locator a {
    color: black;
    text-decoration: none;
}

.socials-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.socials-links img {
    width: 17.5px;
    height: 17.5px;
    top: 1.25px;
    left: 1.25px;
    gap: 0px;
    opacity: 0px;
}